.project-card {
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 30px; /* Added padding */
  background-color: #f9f9f9;
  width: 800px; /* Set a narrower width */
  font-size: 14px; /* Smaller text size */
}

.project-card.joined {
  background-color: #e0f7e0;
}

.hardware-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px; /* Added padding */
}

.hardware-info p {
  margin-right: 8px;
  font-size: 13px; /* Smaller text size */
}

.hardware-info input {
  margin-right: 5px;
  width: 50px; /* Smaller input field */
}

button {
  font-size: 12px; /* Smaller button text */
  padding: 5px 10px; /* Smaller button padding */
}
